.cover-bg{
    background-size: cover;
    background-position: center;
}

.clickable{
    cursor:pointer;
}

.pizza-wrapper{
    text-align:center;
}

#pizza{
    height:500px;
    width:500px;
    background-image: url('../images/pizza.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    display:none;
    position:relative;
}

#pizza img{
    position:absolute;
    width:60px;
}

.side-menu{
    top:0;
    left:0;
    width: 400px;
    position: absolute;
    height: 100vh;
    background-color: green;
}

.side-menu .menu-title{
    text-align: center;
}

.side-menu ul{
    list-style: none;
}

.side-menu button{
    color:white;
    background-color:red;
    font-family: 'Lobster', cursive;
    font-size:40px;
    border:10px solid green;
    width: 300px;
    cursor:pointer;
    box-sizing: border-box;
}

.side-menu button.selected{
    border:10px solid red;
}

#modal-wrapper{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color:rgba(0,0,0,0.5);
    z-index:12345;
}

#modal-wrapper .modal-title{
    font-family: 'Lobster', cursive;
    font-size:40px;
    color:red;
}

#modal-wrapper .modal{
    background-color: white;
    min-width: 200px;
    min-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 40px;
    border-radius: 5px;
}

#modal-wrapper .close-btn{
    position:absolute;
    right:10px;
    top:10px;
    color:black;
}

.side-menu button#tomatoes{
	background-image: url("../images/tomatoes.jpg");
}
.side-menu button#olives{
	background-image: url("../images/olives.jpg");
}
.side-menu button#mushrooms{
	background-image: url("../images/mushrooms.jpg");
}
.side-menu button#pineapple{
	background-image: url("../images/pineapple.jpg");
}
